.header {
    padding: 10px 0 0 10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#141E30, #243B55,#243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#141E30, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul {
    width: 70%;
    position: relative;
    bottom: 5px;
}
ul a {
    color: rgb(134, 239, 125);
}